.bigNav{
  width: 100%;
  height: 90px;
  @media (max-width: 775px){
    display: none;
  }
}

.brushStart{
  width:153px;
  height:75px;
  background-image: url("../app/images/brush-stroke.png");
}

.brushBar{
  flex-grow: 1;
  height: 75px;
  background: $blk;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}

.bottomBrushSpacer{
  height:4px;
  width: 153px;
}

.bottomBrush{
  flex-grow: 1;
  height: 4px;
  background-image: url("../app/images/bottom-brush.png");
  background-repeat: no-repeat;
  background-position: left;
}

// nav typography

.bigNavTxt{
  font-weight: 300;
  letter-spacing: .05em;
  margin-top: 28px;
  &:hover{
    color: $red;
    cursor: pointer;
  }
  @media(max-width:950px){
  font-size: 1.2em;
}
}

.active{
  color: $red;
  font-weight: 400;
}





// little bar

.littleNav{
  height: 30px;
  width: 100%;
  @media (min-width: 776px){
    display: none;
  }
}

.littleBrushHolder{
  width: 100%;
  height: 24px;

}

.littleBrushBar{
  height: 40px;
  flex-grow: 1;
  background: $blk;
}

.littleBrushEnd{
  background-image: url("../app/images/brush-stroke.png");
  background-repeat: no-repeat;
  background-size: cover;
  height:40px;
  width: 100px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  
}

.shapesIcon{
  height: 30px;
  width: 30px;
  background-image: url("../app/images/shapes.svg");
  z-index: 3;
  position: absolute;
  top: 5px;
  left: 5px;
}


// Popup menu 

.littleMenu{
  width: 250px;
  background: $blk;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

