.whatParagraph{
  width: 80%;
  margin: 20px auto;
  @media(max-width: 775px){
  margin-top: 50px;
  }
  @media(max-width: 320px){
    font-size: 1em;
  }
}

.secondHeadline{
  margin: 40px auto 20px;
}

.contentSpacer{
  padding-top: 50px;
}