<h2 class="mainTitle">ABOUT US</h2>

<div class="container-fluid contentSpacer">
<div class="row">
  <div class="col-lg-6">
    <div class="classPic" id="classPic1"></div>
    <div class="classPic" id="classPic2"></div>
  </div>
  <div class="col-lg-6">
    <div class="classPic" id="classPic3"></div>
    <div class="classPic" id="classPic4"></div>
  </div>
  
  
</div>
</div>


<div class="container-fluid contentSpacer">
<div class="row">
  <div class="col-md-6">
    <div class="senseiPic">
      
    </div>
  </div>
  <div class="col-md-6">
    <p class="whatParagraph">Aikido is a traditional Japanese martial art created by Morihei Ueshiba (O-Sensei) in the early 20th century. As the physical practice of philosophical principles developed by O-Sensei, Aikido strives for the ultimate goal of peaceful resolution rather than defeat. Composed of three Japanese characters: Ai, meaning harmony; Ki, spirit or energy; and Do, the path or the way, the word Aikido thus signifies the "Way of Unifying Life Energy". In this regard, O-Sensei created a martial art in which the preservation of one’s attacker is equally important as one’s own self defense.</p>
  </div>
  
  
</div>
</div>



