  <h2 class="mainTitle">CLASS SCHEDULE</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h2 class="centerTxt scheduleHeadline ">CLASS SCHEDULE</h2>
        <div class="scheduleHolder flexColumn">
          <div class="scheduleRow flexRow">
            <!-- Sunday -->
            <div class="dayCell rightTxt">
              <h3 class="dayTxt">Sunday</h3>
            </div>
            <div class="timeCell leftTxt">
                <h3 class="timeTxt">9:00am - 10:15am</h3>
            </div>
          </div>
          <div class="scheduleRow flexRow">
            <!-- Monday -->
            <div class="dayCell rightTxt noClass">
              <h3 class="dayTxt">Monday</h3>
            </div>
            <div class="timeCell leftTxt noClass">
            
            </div>
          </div>
          <div class="scheduleRow flexRow">
            <!-- Tuesday -->
            <div class="dayCell rightTxt">
              <h3 class="dayTxt">Tuesday</h3>
            </div>
            <div class="timeCell leftTxt">
              <h3 class="timeTxt">6:15pm - 7:30pm</h3>
            </div>
          </div>
          <div class="scheduleRow flexRow">
            <!-- Wednesday -->
            <div class="dayCell rightTxt noClass">
              <h3 class="dayTxt">Wednesday</h3>
            </div>
            <div class="timeCell leftTxt noClass">
              
            </div>
          </div>
          <div class="scheduleRow flexRow noClass">
            <!-- Thursday -->
            <div class="dayCell rightTxt">
              <h3 class="dayTxt">Thursday</h3>
            </div>
            <div class="timeCell leftTxt">
              <h3 class="timeTxt">6:15pm - 7:30pm</h3>
            </div>
          </div>
          <div class="scheduleRow flexRow">
            <!-- Friday -->
            <div class="dayCell rightTxt noClass">
              <h3 class="dayTxt">Friday</h3>
            </div>
            <div class="timeCell leftTxt noClass">
              
            </div>
          </div>
          <div class="scheduleRow flexRow">
            <!-- Saturday -->
            <div class="dayCell rightTxt noClass">
              <h3 class="dayTxt">Saturday</h3>
            </div>
            <div class="timeCell leftTxt noClass">
              
            </div>
          </div>
      
        
        </div>
      
    </div>
    <div class="col-md-6">
        <p class="whatParagraph">Prairie Aikikai is open 3 days a week on Tuesdays, Thursdays, and Sundays at the times listed.  We offer self-paced instruction for all skill levels. No contracts are required. Instead, modest monthly dues allow adults to attend as many classes per month as they wish.  The Prairie Aikikai is open to the public and visitors are welcome to observe class at any time, without appointment. Questions may be asked at the front desk or please call us for more information.
        </p>
        <p class="whatParagraph">Aikido classes are held three days a week and are open to students of all levels. All members are encouraged to practice as often as possible, but each student determines how many times per week or month they are able to attend class. The pace of each training session, whether relaxed or more rigorous, is also determined by the individual student. Monthly membership dues are $35. 
        </p>
    </div>
  </div>
</div>