<div class="container-fluid contentSpacer">
  <div class="row">
    <div class="col-md-6">
      <map></map>
    </div>
    <div class="col-md-6">
      <h2 class="addressTitle centerTxt">RICHARD L. MINTZ, HEAD INSTRUCTOR</h2>
      <div class="addressContent flexColumn">
        <h3 class="addressLabel">Address</h3>
        <p class="addressP">4040 Plainview Dr.</p>
        <p class="addressP">Des Moines, Iowa 50311</p>
        <h3 class="addressLabel">Phone</h3>
        <p class="addressP">515-371-8700</p>
      </div>
      
    </div>
  </div>
</div>



